*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    overflow-x: hidden;
}

.seccion-inicio{
    height: 100vh;
    width: 100vw;
}

.seccion-inicio .div-general-titulo{
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.seccion-inicio .div-general-titulo .div-animacion{
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #482400;
}


.seccion-inicio .div-general-titulo .div-imagen-res{
    display: none;
    margin-top: 5%;
}

.seccion-inicio .div-general-titulo .div-texto h1{
    font-family: 'Redressed', cursive;
    font-size: 80px;
    text-align: center;
    color: #482400;
}

.seccion-inicio .div-imagen, .div-vacio{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: absolute;

}

.seccion-inicio .div-imagen img{
    width: 90%;
}

.div-fondo{
    position: absolute;
    height: 150vh;
    width: 100vw;
    background: url('../imagenes/fondo-final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}