/*Responsivo para la seccion de inicio*/
@media screen and (max-width: 768px){
    .seccion-inicio .div-imagen, .div-vacio{
        display: none;    
    }

    .seccion-inicio .div-general-titulo .div-imagen-res{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccion-inicio .div-general-titulo .div-imagen-res img{
        width: 80%;
    }
    
    /*Seccion de presentacion*/
    .seccion-presentacion .row .div-item{
        width: 80%;
        margin-top: 10%;
    }

    .seccion-presentacion .row .div-item-medio{
        margin-left: 0;
        margin-right: 0;
    }
    
    

    /*Seccion de articulos*/
    .seccion-articulo{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .seccion-articulo .div-general-tex .div-tex{
        width: 85%;
        
    }
    
    .seccion-articulo .div-general-tex, .div-general-imagen{
        height: auto;
    }


    /*Seccion de multimedia*/
    .seccion-multimedia{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10%;
        padding-top: 22%;
    }

    .seccion-multimedia .div-general-tex{
        height: auto;
        padding-bottom: 10%;
    }

    .seccion-multimedia .div-general-imagen{
        height: auto;
    }

    .seccion-multimedia .div-general-imagen{
        height: 60vh;
    }

    .seccion-multimedia .div-general-imagen .div-imagen{
        width: 90%;
        height: 90%;
    }
}



@media screen and (max-width: 625px){
    
.seccion-bibliografias .div-general-bibliografias a{
    width: 90%;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #482400;
    text-decoration-color: #482400;

}
}

@media screen and (max-width: 550px){
    /*Titulo del inicio*/
    .seccion-inicio .div-general-titulo .div-texto h1{
        font-size: 60px;
    }
    
    /*div de la imagen del inicio*/
    .seccion-inicio .div-general-titulo .div-imagen-res{
        margin-top: 10%;
    }

    /*Parrafo del articulo*/
    .seccion-articulo .div-general-tex .div-tex p{
        font-size: 20px;
    }

    .seccion-multimedia .div-general-tex .div-tex p{
        font-size: 20px;
    }

    .seccion-multimedia .div-general-imagen{
        height: 40vh;
    }
}

@media screen and (max-width: 460px){
    /*Titulo de incio*/
    .seccion-inicio .div-general-titulo .div-texto{
        width: 80%;
    }

    .seccion-inicio .div-general-titulo .div-texto h1{
        font-size: 40px;
    }

    .seccion-multimedia .div-general-imagen{
        height: 35vh;
    }

    .seccion-inicio .div-general-titulo .div-imagen-res img{
        width: 75%;
    }
}

@media screen and (max-width: 350px){
    /*Imagen del incio*/
    .seccion-inicio .div-general-titulo .div-imagen-res img{
        width: 65%;
    }
}

@media screen and (max-width: 320px){
    /*Titulo del inicio*/
    .seccion-inicio .div-general-titulo .div-texto h1{
        font-size: 40px;
    }

    .seccion-articulo .div-general-tex .div-tex h2{
        font-size: 45px;
    }

    /*Parrafo del articulo*/
    .seccion-articulo .div-general-tex .div-tex p{
        font-size: 18px;
    }

    .seccion-multimedia .div-general-imagen{
        height: 32vh;
    }

    .seccion-multimedia .div-general-tex .div-tex h2{
        font-size: 45px;
    }

    .seccion-multimedia .div-general-tex .div-tex p{
        font-size: 18px;
    }
        
}
